<app-menu></app-menu>
<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <div class="card-header">
              <h2 class="fw-bold mb-2 text-uppercase">Añadir empleado</h2>
          </div>
            <form #f="ngForm" (ngSubmit)="onRegister()" novalidate>
              <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" name="username" id="username" class="form-control"
                      [(ngModel)]="username" autocomplete="off" required>
              </div>
              <br>
              <div class="form-group">
                  <label for="username">Email</label>
                  <input type="email" name="username" id="email" class="form-control"
                      [(ngModel)]="email" autocomplete="off" required>
              </div>
              <br>
              <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" name="password" id="password" class="form-control" [(ngModel)]="password"
                     autocomplete="off" required>
              </div>
              <br>
              <div class="form-group" style="margin-top: 20px;">

                <label>Eliege un rol:</label>
                <select id="roles" name="roles" [(ngModel)]="roles" required>
                <option value="ROLE_ADMIN">Admin</option>
                <option value="ROLE_RECEPCIONISTA">Recepcionista</option>
                <option value="ROLE_USER">User</option>
                </select>
            </div>
            <div class="form-group">
              <button class="btn btn-outline-success w-100 mt-2" [disabled]="!f.valid" type="submit">
                  <i class="fa-solid fa-user-plus"></i> Crear empleado</button>
          </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
